nav {
    background-image: url("rush01_assets/misc/grille.png");
    height: 180px;
    } 
main {
    
    text-align: center;
    }
iframe{
    width: 80%;
    max-width: 700px;
    }
section em {
    font-size: larger1.2em;
    color: #555;
    margin-bottom: 101px;
    display: block;
    background-image: url("rush01_assets/misc/grille.png");
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;  
          }

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
}
td {
    background-color: #fff;
}
table img {
    width: 50px;
}
footer {
    background-image: url("rush01_assets/misc/grille.png");
    height: 300px; 
    text-align: left;
}

