body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 20px;
    background-color: #f0f0f0;
}
.contenair {
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}
logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.nav-item {
    text-align: center;
}
.nav-item strong {
    font-size: 18px;
    margin-bottom: 10px;
}
.nav-item ul {
    list-style-type: none;
    padding: 0;
}
.nav-item li {
    font-size: 14px;
}
.nav-item:nth-child(1) strong {color:#ff6600;}
.nav-item:nth-child(2) strong {color:#ffcc00;}
.nav-item:nth-child(3) strong {color:#66cc33;}
.nav-item:nth-child(4) strong {color:#3399ff ;}
.nav-item:nth-child(5) strong {color: #9933ff;}


nav {
    background-image: url("misc/grille.png");
    height: 180px;
    } 
    
main {
    
    text-align: center;
    }
iframe{
    width: 80%;
    max-width: 700px;
    }
section em {
    color: #555;
    margin-bottom: 56px;
    background-image: url("misc/grille.png");
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;  
          }

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
}
td {
    background-color: #fff;
}
table img {
    width: 50px;
}
section {
    background-image: url("misc/grille.png");
    height: 300px; 
    text-align: left;
}

.alligner { 

    display: flex;
    justify-content: center;
    align-items: center;  
}
